extends layout

block content
  h1= Etymologee
  
  form(method="POST" action="/")
    input(type="text" name="word")
    input(type="submit" value="Look up")

  div(class="entry")
    h2= entry.word
    p(class="definition")= entry.definition
    p(class="date")= entry.date
    p(class="etymology")= entry.etymology