extends layout

block content
  h1= Etymologee
  
  form(method="POST" action="/")
    input(type="text" name="word")
    input(type="submit" value="Look up")

  div(class="entry")
    h2= entry.word
    p(class="pos")= entry.pos
    p(class="definition")= entry.def
    p(class="etymology")!= entry.etym
    p(class="date")= entry.date