extends layout

block content
  h1= Etymologee
  
  form(method="POST" action="/")
    input(type="text" name="word")
    input(type="submit" value="Look up")
  
  div(class="entries")
    each entry in entries
      div(class="entry")
        h2= entry.word
        p(class="pos")= entry.pos
        div(class="defs")
          each d in entry.def
            p(class="def")!= d
        p(class="etym")!= entry.etym
        p(class="date")= entry.date