doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/three.min.js")
    script(src="/javascripts/globe.js")
    script(src="/javascripts/scripts.js")
    script.
      var my_entries = "#{JSON.stringify(entries)}";
      my_entries = my_entries.replace(/&quot;/g, '"');
      my_entries = JSON.parse(my_entries);

      window.onload = function() {
        var container = document.getElementById("container");
        var globe = new DAT.Globe(container);
        var origins = my_entries[0].origins;
        console.log(origins);
        if (Object.keys(origins).length > 0) {
          var data = [];
          for (language in origins) {
            data.push(origins[language].lat);
            data.push(origins[language].lon);
            data.push(0.05);
          }
          console.log(data);
          globe.addData(data, {});
        }
        globe.createPoints();
        globe.animate();
      }

body

  form(method="POST" action="/" class="search")
    input(type="text" name="word_input")
    input(type="submit" value="Look up")

  div(class="entries")
    each entry in entries
      div(class="entry")
        h2= entry.word
        p(class="pos")= entry.pos
        div(class="defs")
          each d in entry.def
            p(class="def")!= d
        p(class="etym")!= entry.etym
        p(class="date")= entry.date
  
  div(id="container")