doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title A Global Language
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/three/ThreeWebGL.js")
    script(src="/javascripts/three/ThreeExtras.js")
    script(src="/javascripts/three/RequestAnimationFrame.js")
    script(src="/javascripts/three/Detector.js")
    script(src="/javascripts/Tween.js")
    script(src="/javascripts/globe.js")
    script.
      var my_entries = !{JSON.stringify(entries)};
      console.log("entries", my_entries);
    script(src="/javascripts/scripts.js")

body

  form(method="POST" action="/" class="search")
    h1 A Global Language
    input(type="text" name="word_input")
    input(type="submit" value="Look up")

  div(class="entries")
    each entry in entries
      div(class="entry")
        h2= entry.word
        p(class="pos")= entry.pos
        div(class="defs")
          each d in entry.def
            p(class="def")!= d
        p(class="etym")!= entry.etym
        p(class="date")= entry.date
  
  div(id="container")
  
  div(id="timeline")
    span(class="timeline-label") 0
    span(class="timeline-label") 2020

  div(id="stages")
    div(id="languages")
    div(id="words")